<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>2Dinein</title>

	<link rel="icon" href="/img/favicon-cutlery.ico">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">

</head>

<body>

	<header>
		<h2><a href="#">2Dinein</a></h2>
		<nav>
			<li><a href="#">Home</a></li>
			<li><a href="https://test-2dinein-barbaricyawp.c9users.io/#restaurants">Restaurants</a></li>
			<li><a href="https://test-2dinein-barbaricyawp.c9users.io/#about">About</a></li>
			<li><a href="https://test-2dinein-barbaricyawp.c9users.io/#testimonials">Testimonials</a></li>
			<li><a href="https://test-2dinein-barbaricyawp.c9users.io/#newsletter">Newsletter</a></li>
		</nav>
	</header>


	<section class="hero">
		<div class="background-image" style="background-image: url(img/restaurant.jpg);"></div>
		<h1>2Dinein Restaurant Delivery Service</h1>
		<h3>We Deliver, You Dine</h3>
		<a href="http://www.2dinein.com" class="btn">Place an order</a>
		<!--<i class="fa fa-arrow-down" aria-hidden="true"></i>-->
	</section>


	<section class="our-work">
		<a id="restaurants"></a>
		<h3 class="title">Our Partnered Restaurants</h3>
		<p>More than just pizza: From subs to sushi, gelato to BBQ. With over 50 restaurants to choose from, we have what you're looking for.</p>
		<hr>

		<ul class="grid">
			<li class="small" style="background-image: url(img/restaurants/ameera85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/anthony85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/babylon85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/backcove85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/benkay85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/bgood85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/bigjs85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/bingas85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/bluerooster85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/bonobo85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/bubblemaineina85.jpg);"></li>
			<!--<li class="small" style="background-image: url(img/restaurants/cotes85.jpg);"></li>-->
			<li class="small" style="background-image: url(img/restaurants/dutchs85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/Elcorazon85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/Elevation85.png);"></li>
			<li class="small" style="background-image: url(img/restaurants/elrodeo85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/elsmere85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/espos85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/falalfel85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/FederalSpice85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/Figgys85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/Flatbread85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/ginza85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/gorgeousgelato85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/greateast85.png);"></li>
			<li class="small" style="background-image: url(img/restaurants/green85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/hellagood85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/hibombay85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/hilltop85.png);"></li>
			<li class="small" style="background-image: url(img/restaurants/indiapalace85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/margs85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/mdi85.png);"></li>
			<li class="small" style="background-image: url(img/restaurants/moes85.jpg);"></li>
			<!--<li class="small" style="background-image: url(img/restaurants/mrbagel85.jpg);"></li>-->
			<li class="small" style="background-image: url(img/restaurants/naral85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/nosh85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/otherside85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/paciarino85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/pizaplus85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/poboys85.png);"></li>
			<li class="small" style="background-image: url(img/restaurants/pom85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/popeyes85.png);"></li>
			<li class="small" style="background-image: url(img/restaurants/portlandpulp85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/rivalries85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/slab85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/susans85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/taj85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/tandoor85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/willows85.jpg);"></li>
			<li class="small" style="background-image: url(img/restaurants/zen85.jpg);"></li>
			<h4>And more...</h4>
		</div>
	</section>
	

	<section class="features">
		<a id="about"></a>
		<h3 class="title">Rethink Delivery</h3>
		<p>No time to cook or go shopping? With over 10 years of experience delivering to the Greater Portland area, we've got you covered.</p>
		<hr>

		<ul class="grid">
			<li>
				<i class="fa fa-laptop"></i>
				<h4>Convenience</h4>
				<p>No need to leave your house or office. Order on our App, or from our mobile friendly website.</p>
			</li>
			<li>
				<i class="fa fa-car"></i>
				<h4>Reliability</h4>
				<p>With more than 50 drivers, we deliver over 200 meals a day. 95% of all meals are delivered within 1 hour.</p>
			</li>
			<li>
				<i class="fa fa-calendar"></i>
				<h4>Plan Ahead</h4>
				<p>Place orders days, weeks, even months in advance for yourself or your whole office.</p>
			</li>
		</div>
	</section>


	<section class="reviews">
		<a id="testimonials"></a>
		<h3 class="title">What others say:</h3>

		<p class="quote">2DineIn has been such a great help and convenience for me and my very busy work life. I truly appreciate them. The drivers have all been fantastic and polite.</p>
		<p class="author">— Patrick Farrell</p>

		<p class="quote">We love this service so much!! Plenty of restaurants to choose from with great variety! Thank you for all you do!!</p>
		<p class="author">— George Smith</p>

		<p class="quote">Love your site! Very convienient and always delivered hot by friendly drivers!</p>
		<p class="author">— Kevin Blake</p>

		
	</section>


	<section class="contact">
		<a id="newsletter"></a>
		<!--<h3 class="title">Join our newsletter</h3>	-->
		<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>-->
		<!--<hr>-->

		<!--<form>-->
		<!--	<input type="email" placeholder="Email">-->
		<!--	<a href="#" class="btn">Subscribe now</a>-->
		<!--</form>-->
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfuC4XFa54dkSYfsrPedUufCS0jkcV7yVPRrRQuZFMG82Tp0A/viewform?embedded=true" width="760" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
	</section>

	<footer>
		<ul>
			<li><a href="https://www.facebook.com/2DineIn/"><i class="fa fa-facebook"></i></a></li>
			<li><a href="https://www.yelp.com/biz/2-dine-in-portland-2"><i class="fa fa-yelp"></i></a></li>
			<li><a href="https://www.instagram.com/2dinein/"><i class="fa fa-instagram"></i></a></li>
		</ul>
		<p>Made by <a href="http://www.2dinein.com/" target="_blank">2Dinein</a>. images courtesy of <a href="http://unsplash.com/" target="_blank">unsplash</a>.</p>
		<p>copyright 2017</p>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
